appsettings.json
appsettings.Development.json
bin/
obj/
*.obj
*.bin
*.cache


# JetBrains IDE files
.idea/
*.sln.iml
*.DotSettings.user
*.DotSettings
datasource.xml
indexLayout.xml
settings.json
vcs.xml